<svg version="1.1" baseProfile="full" width="300" height="86" viewBox="0 0 300 86" preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg" style="overflow: visible;">
  <style>
    {{> global-styles }}
    .username {
      font-weight: 500;
      font-size: 16px;
    }
    .website, .location {
      font-size: 10px;
    }
    .website {
      fill: var(--color-link);
    }
  </style>

  <rect
    width="300"
    height="86"
    class="ctn"
    rx="5"
    ry="5"
  ></rect>

  {{> so-icon translateX="230px" width="62px"  }}

  <svg x="11" y="11">

    {{! -- START user avatar -- }}
     <rect id="imageCtn" transform="translate(0,0)" width="64" height="64"  rx="5"/>
      <clipPath id="clip">
        <use href="#imageCtn"/>
      </clipPath>
    </defs>
    <use href="#imageCtn"/>
    <image width="64" height="64" clip-path="url(#clip)" href="{{avatar}}" />
    {{! -- END user avatar -- }}

    <g transform="translate(75,13)">
      <text class="username animate" transform="translate(0,0)">{{username}}</text>
      <g class="animate" transform="translate(0,22)" style="font-weight: 800; animation-delay: 0.1s;">
        {{> rep-badges reputation=reputation badges=badges }}
      </g>
      {{#if location}}
        <g class="animate" style="animation-delay: 0.2s;" transform="translate(0,38)">
          <text class="location">{{location}}</text>
        </g>
      {{/if}}
      {{#if website}}
        <g class="animate" style="animation-delay: 0.3s;" transform="translate(0,50)">
          <a href="{{website}}" target="_blank">
            <text class="website">{{truncatedText website 42}}</text>
          </a>
        </g>
      {{/if}}
    </g>
  </svg>
</svg>
